
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body style="font-family: Arial, sans-serif;">

    <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
        <h2 style="color: #333;">Subject: [Subject of the mail]</h2>
        
        <p style="color: #666;">Recipient: [Add the address of the recipient]</p>

        <div style="background-color: #f9f9f9; padding: 20px; margin-top: 20px;">
            <p>Hi,</p>
            <p>We have received a solicitation to modify the password of your account. To change it, please click in the following link:</p>
            <p><a href="reset/<uidb64>/<token>/" style="color: #007bff; text-decoration: none;">Modify Password</a></p>
            <p>Please take into account that the link has a limited validiy.</p>
            <p>If you has not request to modify your password, you can ignore this message or contact us if you think that an error had occurr.</p>
            <p>Thanks,<br>[Name of the support team]</p>
        </div>
    </div>

</body>
</html>