{% extends 'base_generic.html' %}

{% block content %}
  {% if validlink %}
    <h2>Page to modify the password</h2>
    <p> Please, introduce your new password twice to confirm that the new password is correct.</p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="boton-abajo">Modify password</button>
    </form>
  {% else %}
    <p>
      The link introduced is not valid. Normally it occurs because the link has already been use. Please, if you can modify the password repeat the process.
    </p>
  {% endif %}
{% endblock %}